.gg{
    text-decoration: none; /* Убираем подчеркивание текста */
    color: black; /* Цвет текста ссылок */
    font-weight: bold; /* Жирный шрифт */
    margin-right: 20px; /* Расстояние между ссылками в навигации */
    transition: color 0.2s; /* Плавное изменение цвета при наведении */
}
.gg:hover {
    color: blue; /* Изменяем цвет текста при наведении курсора */
}
